body {
  background-color: #efedc4;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  color: #333;
  margin-bottom: 30px;
}

.container {
  max-width: 800px;
  margin: 60px auto;
  background: white;
  padding: 40px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 8px 30px 0px;
  border-radius: 10px;
}

select {
  display: block;
  width: 100%;
  font-size: 20px;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #7e7e7e;
  outline: none;
}

.cities-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 8px 20px 0px;
  text-align: left;
  width: 100%;
}

.city h2 {
  font-size: 28px;
  margin: 0;
  color: #4a4a4a;
  flex: 2;
}

.city .date {
  font-size: 18px;
  color: #555;
  opacity: 0.7;
  margin-top: 5px;
  flex: 2;
}

.city .time {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: right;
  flex: 3;
  transition: opacity 0.3s ease-in-out;
}

.city .time small {
  font-size: 22px;
  vertical-align: middle;
  line-height: 40px;
}

.city:hover {
  background-color: #f1f1f1;
  box-shadow: rgba(100, 100, 111, 0.6) 0px 8px 30px 0px;
}

@media (max-width: 600px) {
  .city {
    flex-direction: column;
    align-items: flex-start;
  }
  .city .time {
    text-align: left;
  }
}

body {
  font-family: "Roboto", sans-serif;
}
